// 引入页头样式
@import url("header.less");

//借款申请表单样式
.el-tip-info{
    padding:20px;
    background-color: #F4F8FA;
    border-left: 2px solid #0099DD;
    margin-bottom: 20px;
}
.el-tip-info h3{
    color:#09d;
}

#borrowForm{
    width: 60%;
    margin: 0px auto;
}

//引入导航样式
@import url("sidebar.less");
// 引入页脚
@import url("footer.less");

